<h1>New Releases</h1>
<p>The following is a list of new releases.</p>
<p>Click the <span class="newAlbum">album cover</span> or <span class="newAlbum">artist name</span> for more information.</p>

<div class="content">
    <div fxLayout="row wrap" fxLayout.xs="column">

        <!-- Single "Responsive" Card-->
        <div fxFlex [style.margin]="'20px'" *ngFor="let r of releases">
            <mat-card [style.min-width]="'200px'">
                <mat-card-header>
                    <mat-card-title>{{r.name}}</mat-card-title>
                    <mat-card-subtitle>New Release</mat-card-subtitle>
                </mat-card-header>
                <a routerLink="/album/{{r.id}}" routerLinkActive="active">
                    <img mat-card-image class="album-cover" src={{r.images[0].url}} alt="album art">
                </a>
                <strong>Release Date: </strong>{{r.release_date}}<br />
                <strong>Tracks: </strong>{{r.total_tracks}}<br /><br />
                
                <mat-card-content>
                    <mat-chip-list aria-label="Artist selection" *ngFor="let i of r.artists">
                        <a routerLink="/artist/{{i.id}}" routerLinkActive="active">
                            <mat-chip>{{i.name}}</mat-chip>
                        </a>
                    </mat-chip-list>
                </mat-card-content>
                
            </mat-card>
        </div>
        <!-- -->

    </div>
</div>