<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>WEB322 Assignment3-5</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link type="text/css" rel="shortcut icon" href="css/style.css" />
    <script src="script.js"></script>
  </head>

  <body>
    {{> header}}
    
      <div class="main-contents">
        {{> nav user}}
        <div class="dash">
          <h4>{{Msg}}</h4>
          <p class="dash-welcome">Hello {{data.fname}} {{data.lname}},</p>
          <p class="dash-welcome">Welcome to our AirBnB service!</p>
          <p class="dash-sub">Let's experience the new world</p>
        </div>
      </div>



      {{> footer}}
    

  </body>
</html>