<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    
    <title>WEB322 Assignment3-5</title>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link type="text/css" rel="stylesheet" href="css/style.css" />
    <link type="text/css" rel="shortcut icon" href="css/style.css" />
    <script src="script.js"></script>
  </head>

  <body>
    {{> header}}
    
      <div class="main-contents-home">
        {{> nav user}}
        <div class="main-pics">
           <div class="information">
             <h6>&check; A community built on sharing</h6>
             <p>Airbnb began in 2008 when two designers who had space to share hosted three travellers looking for a place to stay.</p>
             <p>Now, millions of hosts and travelers choose to create a free Airbnb account so they can list their space and book unique accommodations anywhere in the world.</p>
             <p>And Airbnb experience hosts share their passions and interests with both travelers and locals.</p>
             <h6>&check; Trusted services</h6>
             <p>
               Airbnb helps make sharing easy, enjoyable, and safe.</p>
               <p>We verify personal profiles and listings, maintain a smart messaging system so hosts and guests can communicate with certainty, and manage a trusted platform to collect and transfer payments.
             </p>
             <h6>&check; 24/7 support</h6>
             <p>Our global community support team is standing by 24/7 in 11 different languages to help make things right with rebooking assistance, refunds, reimbursements, our $1 million USD Host Guarantee, and insurance programs for both homes and experiences.</p>
            </div>
          </div>
        </div>
      </div>



      {{> footer}}
    

  </body>
</html>