@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital@1&display=swap');
/* import fontawesome */
@import url('https://use.fontawesome.com/releases/v5.5.0/css/all.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
header{
  margin-bottom: 150px;
}
.page-heading{
    display: block;
    width: 100%;
}
.stick{
     display: grid;
    grid-template-columns: minmax(150px, 15%) 1fr;
    background-color: rgba(255, 231, 248, 0.959);
    height: 110px;
    font-size: 1.1em;
    backface-visibility: hidden;
    z-index: 1;
    width: 100%;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
img.logo {
  height: 12vh;
  width: 10vw;
  background-color: rgba(250, 235, 215, 0.288);
  margin-top: 10px;
  margin-left: 15px;
  margin-right: auto;
  margin-bottom: auto;
  padding: 2px;
  }
  
  
  @media only screen and (max-width: 1000px) {
  img.logo {
    display: none;
  }
  .stick{
    display: grid;
    grid-template-columns: minmax(0px, 0%) 1fr;
   height: 120px;
   width: 100%;
  }
}
@media only screen and (max-width: 746px) {
  .stick{
   height: 160px;
   margin-bottom: 100px;
  }
}
@media only screen and (max-width: 640px) {
  .stick{
   height: 180px;
   margin-bottom: 100px;
  }
}

  /*=====================search bar====================*/
  .search-bar form{
      
      display: flex;
      align-items: center;
      cursor: pointer;
      flex-wrap: wrap;
      background-color: white;
      border-radius: 25px;
      margin-top: 16px;
      margin-right: 20px;
      font-size: 0.9em;
  }
  .search-em{
      display: flex;
      flex-grow: 2;
      flex-direction: column;
      border-right: 1px solid rgb(172, 163, 163);
      padding-left: 20px;
      padding-bottom: 10px;
      background-color:white;
      border-radius: 25px;
  }
  .search-la {
    display: flex;
    justify-content: left;
    align-items: center;
    flex: 0 0 100%;
    margin-top: 10px;
    font-weight: 700;
    font-size: 1.1em;
  }
  .search-em input{
    border: none;
    appearance: none;
    outline: none;
    width: 100%;
    line-height: 1.2em;
    margin-top: 10px;
    flex: 0 1 100%;
    font-size: 1.1rem;
    height: 2px;
  }
  .search-em:focus {
  outline-color: #909092;
}
.search-submit {
    display: inline-block;
    flex-grow: 1;
    height: 70px;
    line-height: 70px;
    padding: 0 25px;
    text-align: center;
    font-size: 1.1em;
    font-weight: 100;
    border: 0;
    border-radius: 25px;
    color: white;
    background-color: rgb(245, 156, 171);
    /*transition: background-color 0.8s ease;*/
  }
  
  .search-submit:hover {
    background-color: rgb(240, 110, 132);
  }
  datalist{
      font-size: 1.1em;

  }


  /*===============footer==============*/
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: rgba(241, 241, 241, 0.897);
    margin-top: 20px;
    padding: 0;
    border: 0;
  }
  .footer-display{
    padding: 5px;
    display: flex;
    justify-content: center;
    bottom: 0;
  }
  section {
    display: inline-block;
    margin-top: 10px;
    margin-left: 6em;
    margin-right: 6em;
  }
  #page-container {
    position: relative;
    min-height: 100%;
  }
  #content-wrap {
    padding-bottom: 10vh;
  }
  .footer-warning {
    clear: both;
  }
  .footer-display div div{
    border-top: 1px solid rgb(87, 85, 85);
    padding-top: 2px;
    float: left;
  }
  ul {
    list-style-type: none;
    font-weight: 600;
    font-size: 14px;
    text-align: right;
  }
  ul a:visited {
    color: gray;
  }
  ul a {
    text-decoration: none;
    color: gray;
  }
  
  section h4 {
    color: rgb(80, 79, 79);
  }
  .fa-facebook,
  .fa-instagram {
    font-size: 25px;
    margin-left: 20px;
  }
  footer div p {
    margin-bottom: 0;
    text-align: center;
    color: black;
  }
  .seneca{
    border-top: 1px solid lightgray;
    padding-bottom: 15px;
  }
  .footer-display div{
    margin-right: 10px;
    margin-left: 10px;
  }

  /*============navigation==============*/
  nav{
     padding-left: 5%;
     padding-top: 0;
     padding-right: 3%;
     padding-bottom: 40%;
  }
  nav ul{
    list-style-type: none;
    width: 200px;
    background-color: rgb(230, 230, 230);
    font-size: 1.3em;
    border-radius: 25px;
    padding: 0;
  }
  nav ul li a{
    display: block;
    color: gray;
    padding: 15px 20px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
  }
  nav ul li a:hover {
    background-color: #555;
    color: white;
    border-radius: 25px;
  }
  /*==========main=================*/
  .main-contents,
  .main-contents-home,
  .main-contents-login{
    display: grid;
    grid-template-columns: minmax(200px, 20%) 1fr;
    max-width: 100%;
    align-items: center;
    
  }
  .main-contents-home{
    background-color:  rgb(48, 46, 46);
  }
  .main-pics{
    display: flex;
    background-color: rgb(48, 46, 46);
    padding: 2em;
  }
  .information h6{
    margin-left: 20px;
    color: white;
    font-size: 1.2em;
  }
  .information p{
    margin-left: 20px;
    color: white;
    font-size: 0.9em;
  }
  @media only screen and (max-width: 415px) {
    .stick{
     height: 250px;
    }
    .main-contents,
    .main-contents-home{
      display: block;
      width: 100%;
      align-items: center;
      
    }
    nav{
      padding-left: 20%;
      padding-top: 25%;
      padding-right: auto;
      padding-bottom: 0;
   }
   .main-pics{
     padding-top:0;
     margin-top: 0;
   }
  }
  @media only screen and (max-width: 281px) {
    .stick{
     height: 320px;
    }
    .main-contents,
    .main-contents-home{
      display: block;
      min-width: 100%;
      align-items: center;
    }
    nav{
      padding-left: 20%;
      padding-top: 60%;
      padding-right: auto;
      padding-bottom: 0;
   }
   .main-pics{
     padding-top:0;
     margin-top: 0;
   }
  }
  @media only screen and (max-width: 1200px) {
    footer,
    .footer-display{
      margin:0;
      padding: 0;
      width:100%;
    }
  }
  /*==================registration=============*/
 
  .form-wrapper-reg {
    margin: auto;
    text-align: center;
    color: #625c64f6;
    display: flex;
    justify-content: center;
  }
  .form-wrapper-reg form{
  flex: 0 0 50%;
  text-align: center;
  display: inline-block;
  padding: 3rem 15rem;
  display: flex;
  flex-wrap: wrap;
}
label {
  display: flex;
  justify-content: left;
  align-items: center;
  flex: 0 0 100%;
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: bold;
}

input[type='email'],
input[type='password'],
input[type='text'],
input[type='tel'],
input[name='bday'] {
  flex: 0 1 100%;
  font-size: 0.9rem;
  border: 1px solid #d5d6da;
  padding: 1.5rem 1rem;
  height: 2px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6e707e;
}

input:focus {
  outline-color: #909092;
}
hr {
  margin: 20px 0;
  width: 100%;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.1);

}
form h1 {
  color: #858796;
  font-size: 2rem;
  text-align: center;
  margin: 10px auto 30px auto;
}

.btn {
  width: 100%;
  padding: 0.9rem 0.75rem;
  border: none;
  background-color: #e76f6f;
  color: white;
  border-radius: 10rem;
  font-size: 0.9em;
}

.btn:hover {
  background-color: #f75656;
  cursor: pointer;
}
.ext-url {
  width: 100%;
  margin-top: 0;
}

.ext-url p {
  display: block;
  text-align: center;
  margin: 10px 0;
  text-decoration: none;
  font-size: 0.8em;
}
/*================log in pop up================*/
.modal{
  /*position: fixed; /* Stay in place */
  /*z-index: 1; /* Sit on top */
  padding-top: 25px; /* Location of the box */
  margin-right: 20%;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  
}
.main-contents-login{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/*nav ul li button{
  display: block;
  color: gray;
  background-color: rgb(230, 230, 230);
  padding: 15px 20px;
  padding-right: 117px;
  font-size: 1.0em;
  font-weight: bold;
  text-align: left;
  cursor: pointer;
  border: none;
  max-width: 200px;
  border-radius: 25px;
}
nav ul li button:hover {
  background-color: #555;
  color: white;
  border-radius: 25px;
}*/
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 35%;
}
/* The Close Button */
/*.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}*/
/*==================log in=====================*/
.login{
  align-items: center;
  text-align:center
}
.login p{
  margin-top:0;
  font-weight: bold;
}
.login form div label{
  font-size: 0.9em;
  margin-bottom: 5px;
  color: gray;
}
.login form div input{
  font-size: 0.9em;
  width:100%;
  flex-grow: 1;
  margin-left:0;
}
.login form div{
  margin-bottom: 30px;
  width: 100%;
}
.login form{
  padding: 5px;
  width: 80%;
}
.login form button{
  margin-left:15px;
  font-size: 0.9em;
}
.or{
  font-size: 0.8em;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 0;
}
.orhr{
  width:100%;
}
.login button{
  font-size: 0.9em;
  width: 80%;
}
.btn-google {
  background-color: #ea4335;
  margin-top: 10px;
  margin-bottom: 5px;
}

.btn-google:hover {
  background-color: #c92314;
}

.btn-facebook {
  background-color: #3b5998;
  margin-top: 5px;
  margin-bottom: 10px;
}

.btn-facebook:hover {
  background-color: #304a83;
}
.login-signup{
  font-size: 0.7em;
  margin-top: 5px;
}
.login-signup p a,
.ext-url p a{
  text-decoration: none;
  font-size: 1.1em;
  color: #007bff;
  font-weight: lighter;
}
/*=============room listing============*/
.table-wrapper{
  display: grid;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-left:30%;
}
.table-wrapper div img{
  width: 25vw;
  height: 11vh;
  padding: 0 ;
}
.room-title{
  font-size: 0.9em;
  color: rgba(71, 70, 70, 0.918);
  font-weight: bold;
  margin-top: 2px;
  margin-bottom: 4px;
}
.room-price{
  font-size: 0.8em;
  margin-top: 0;
  color: gray;
}
.room1{
  grid-column: 1;
  grid-row: 1;
}
.room2{
  grid-column: 1;
  grid-row: 2;
}
.room3{
  grid-column: 1;
  grid-row:3;  
}
.room4{
  grid-column: 1;
  grid-row: 4;
}
.room5{
  grid-column: 1;
  grid-row: 5;
}
.room6{
  grid-column: 1;
  grid-row: 6;
}
.checked{
  color: orange;
}
.rating{
  color: rgb(126, 125, 125);
  font-size: 0.9em;
}
@media only screen and (min-width: 1120px) {
  .table-wrapper{
    margin:0;
  }
  .room-title{
    font-size: 1.2em;
    color: rgba(71, 70, 70, 0.918);
    font-weight: bold;
    margin-top: 2px;
    margin-bottom: 4px;
  }
  .table-wrapper div img{
    width: 22vw;
    height: 27vh;
    padding: 0 ;
  }
  .room-price{
    font-size: 0.8em;
    margin-top: 0;
    color: gray;
  }
  .room1{
    grid-column: 1;
    grid-row: 1;
  }
  .room2{
    grid-column: 2;
    grid-row: 1;
  }
  .room3{
    grid-column: 3;
    grid-row: 1;  
  }
  .room4{
    grid-column: 1;
    grid-row: 2;
  }
  .room5{
    grid-column: 2;
    grid-row: 2;
  }
  .room6{
    grid-column: 3;
    grid-row: 2;
  }

}
/*================= error message =============*/
.error-message{
  padding: 7px;
  font-size: 0.9em;
  font-weight: bold;
  background-color: #fee;
  color: #c33;
  display: none;
}
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label+ .error-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message{
  display: block;
}
.error-message-nav{
  padding: 4px;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #fee;
  color: #c33;
  display: none;
}
.is-validated input:invalid + .error-message-nav,
.is-validated input:invalid + label+ .error-message-nav,
.is-validated:invalid + .error-message-nav
.is-validated:invalid + label + .error-message-nav{
  display: block;
}
/*============dashbord ================*/
.dash{
  vertical-align: top;
  text-align: center;
}
.dash-welcome{
  color: rgba(145, 140, 140, 0.945);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 3em;
}
.dash-sub{
  color: rgba(80, 78, 78, 0.945);
  font-size: 2em;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/*==============log out================*/
.logout{
  text-decoration: none;
  font-size: 1.2em;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/*============= room edit ===============*/
.roomEdit{
  text-decoration: none;
  color: rgb(189, 124, 185);
  font-size: 0.9em;
}
.roomAdd{
  margin-top: 20px;
  text-decoration: none;
  color: rgb(71, 4, 71);
  font-size: 1.3em;
  font-weight: bold;
}

input[name='ID'],
input[name='title'],
input[name='price'],
input[name='roomLocation'],
input[name='desc'],
input[name='roomImg'],
input[name='rate'],
input[name='review'] {
  font-size: 0.9rem;
  border: 1px solid #d5d6da;
  padding: 1rem 1rem;
  height: 0.06px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6e707e;
}
.wrapper-edit form label{
  display: flex;
  justify-content: left;
  flex: 0 0 100%;
  margin-top: 10px;
  font-size: 0.9em;
  font-weight: bold;
}
.wrapper-edit {
  margin: auto;
  text-align: center;
  color: #625c64f6;
  display: flex;
  justify-content: center;
  width: 80%;
}

.form-edit{
  float: left;
  margin: 10px;
}
/*===========profile=====================*/
.profile{
  padding: 5px;
  width: 80%;
  align-items: center;
  color: gray;
  font-size: 1.2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.profile h1{
  text-align: center;
  color: rgb(70, 69, 69);
}
.profile a{
  text-decoration: none;
  
}
.profileEdit{
  display: inline-block;
  font-size: 1.0em;
  color: rgb(82, 17, 82);
  padding: 3%;
  margin-left: 10px;
}
/*===============room Description==============*/
.roomDesc{
  display: flex;
  flex-wrap: wrap;
}
.roomDesc1,
.roomDesc2{
  flex: 0 1 500px;
}
.roomDesc2{
  padding: 5%;
}
.arrow{
  background-color: rgb(99, 5, 94);
  color: white;
  text-align: center;
  padding: 2%;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.1em;
}
.bookingMsg{
  font-size: 1.3em;
  font-weight: bold;
}
.confirm{
  font-size: 1.1em;
  margin-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 70%;
  margin-left: 10%;
}