<footer>
        <div class="footer-display">
          
          <div>
            <section>
              <h4>ABOUT US</h4>
              <div>
                <ul>
                  <a href="#" id="footercompany">Company</a>
                </ul>
                <ul>
                  <a href="#" id="footerlocation">Newsroom</a>
                </ul>
              </div>
            </section>
            <section>
              <h4>HOST</h4>
              <div>
                <ul>
                  <a href="#" id="host-home">Host your home</a>
                </ul>
                <ul>
                  <a href="#" id="host-exp">Host an Experience</a>
                </ul>
                <ul>
                  <a href="#" id="host-responsible">Responsibility</a>
                </ul>
                <ul>
                  <a href="#" id="host-open">Open Homes</a>
                </ul>
              </div>
            </section>
            <section>
              <h4>SUPPORT</h4>
              <div>
                <ul>
                  <a href="#">Help Center</a>
                </ul>
                <ul>
                  <a href="#">Racial Discrimination</a>
                </ul>
                <ul>
                  <a href="#">Neighbourhood Support</a>
                </ul>
                <ul>
                  <a href="#">Trust & Safety</a>
                </ul>
              </div>
            </section>
            <section>
              <h4>Follow Us</h4>
              <div>
                <ul>
                  <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
                </ul>
                <ul>
                  <a href="https://www.instagram.com/" class="fa fa-instagram"></a>
                </ul>
              </div>
            </section>
          </div>
        </div>
        
        <div class="footer-warning">
            <p class="seneca">Seneca College 2020 Fall semester WEB322 Assignment2 Heebin Lee</p>
          </div>
      </footer>