<nav>
  <ul>
    {{#if email}}
      <li><a href="/logout">Log Out</a></li>
    {{else}}
      <li><a href="/login">Log In</a></li>  
    {{/if}}
    <li><a href="/rooms">Room Lists</a></li>
    <li><a href="/registration">Sign Up</a></li>
    <li><a href="/">Home</a></li>
    {{#if email}}
      <li><a href="/profile">{{fname}}'s Profile</a></li>
    {{/if}}
  </ul>
       
</nav>